<section class="collected">
  <div class="collected__wrapper">
    <div class="container">
      <div class="collected__inner">
        <div class="collected__left">
          <h2 class="collected__title">
            Онлайн - отчеты <br />
            помощи
          </h2>
          <div class="collected__text">
            <p>
              В данном блоке Вы можете видеть в режиме реального времени,
              сколько требуется и сколько уже собрано для помощи ребенка.
            </p>
          </div>
        </div>

        <div class="collected__content">
          <div class="swiper-pagination"></div>
          <div class="collected__slider swiper">
            <ul class="collected__list swiper-wrapper">
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <picture>
                    <source srcset="img/collected.avif" type="image/avif" />
                    <source srcset="img/collected.webp" type="image/webp" />
                    <img
                      class="collected-card__img"
                      src="img/collected.jpg"
                      alt="collected"
                      loading="lazy"
                    />
                  </picture>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>
                  </div>
                </article>
              </li>
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <picture>
                    <source srcset="img/collected.avif" type="image/avif" />
                    <source srcset="img/collected.webp" type="image/webp" />
                    <img
                      class="collected-card__img"
                      src="img/collected.jpg"
                      alt="collected"
                      loading="lazy"
                    />
                  </picture>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>
                  </div>
                </article>
              </li>
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <picture>
                    <source srcset="img/collected.avif" type="image/avif" />
                    <source srcset="img/collected.webp" type="image/webp" />
                    <img
                      class="collected-card__img"
                      src="img/collected.jpg"
                      alt="collected"
                      loading="lazy"
                    />
                  </picture>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
