<section class="documents">
  <div class="container">
    <h2 class="documents__title">Документы фонда</h2>
    <ul class="documents__list">
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="img/document.jpg"
      >
        <picture>
          <source srcset="img/document.avif" type="image/avif" />
          <source srcset="img/document.webp" type="image/webp" />
          <img src="img/document.jpg" alt="document" loading="lazy" />
        </picture>
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="img/document.jpg"
      >
        <picture>
          <source srcset="img/document.avif" type="image/avif" />
          <source srcset="img/document.webp" type="image/webp" />
          <img src="img/document.jpg" alt="document" loading="lazy" />
        </picture>
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="img/document.jpg"
      >
        <picture>
          <source srcset="img/document.avif" type="image/avif" />
          <source srcset="img/document.webp" type="image/webp" />
          <img src="img/document.jpg" alt="document" loading="lazy" />
        </picture>
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="img/document.jpg"
      >
        <picture>
          <source srcset="img/document.avif" type="image/avif" />
          <source srcset="img/document.webp" type="image/webp" />
          <img src="img/document.jpg" alt="document" loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>
