body {
  font-family: $TTCommons;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  @include breakpointsMaxW($bp-768) {
    font-size: 15px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.card-link {
  transition: 200ms ease;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  &.mt {
    margin-top: 110px;

    @include breakpointsMaxW($bp-991) {
      margin-top: 75px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.logo {
  width: 265px;
  height: 50px;
  display: block;
  transition: 200ms ease;

  @include breakpointsMaxW($bp-container) {
    width: 200px;
    height: 40px;
  }

  @include breakpointsMaxW($bp-768) {
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    @include img(contain);
  }
}

// * Кнопки
.btn {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 15px 25px 12px 25px;
  border-radius: 5px;
  line-height: 1;
  text-align: center;
  transition: 200ms ease;

  &:hover {
    background-color: darken(#e57c5d, 10%);
  }

  &:active {
    transform: scale(0.98);
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);
    @include adaptive-value("padding-top", 15, 10, 1);
    @include adaptive-value("padding-bottom", 12, 7, 1);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark);
    }
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.card-link {
  transition: 200ms ease;
  color: inherit;
}

.choices {
  font-size: 17px;
  line-height: 1.1;
  height: 53px;
  font-weight: 400;
  width: 100%;
  color: #525252;
  margin-bottom: 0 !important;
  padding-right: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;

  &__placeholder {
    opacity: 1;
  }

  &__inner {
    padding: 12px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: inherit !important;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
  }

  &::after {
    border: none !important;
    width: 25px !important;
    height: 25px !important;
    margin-top: 0 !important;

    mask-image: url("../img/chevron.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: #525252;

    right: 10px !important;
    top: 15px !important;

    transition: 150ms ease-in;
  }

  &.is-open {
    &::after {
      margin-top: 0 !important;
      transform: rotate(180deg);
    }
  }

  &__list {
    padding: 0;
    background-color: inherit;
    max-height: 200px;

    .choices__item {
      background-color: inherit;
    }

    &--dropdown {
      z-index: 100;
      z-index: 5;

      .choices__list {
        max-height: 200px !important;
        overflow-y: auto;
      }

      .choices__item {
        position: relative;
        padding: 12px !important;
        padding-right: 0 !important;

        &:hover {
          background-color: var(--color-bg);
          color: var(--color-dark);
        }

        .choices__item--selectable {
          background-color: #ededed;
        }

        &.is-selected,
        &.is-highlighted {
          &:focus {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
          }

          &:hover {
            background-color: var(--color-bg);
          }
        }
      }
    }
  }
}

.sum-checkbox {
  cursor: pointer;
  color: var(--color-dark);
  width: 100%;
  @include adaptive-value("height", 47, 37, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__box {
    width: 100%;
    height: 100%;
    border: 1px solid #c8cbce;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
  }

  &__input:checked + &__box {
    background-color: var(--color-accent);
    color: var(--color-white);
    border-color: transparent;
  }
}
